<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>RemoVision</string>
    <key>CFBundleDisplayName</key>
    <string>RemoVision</string>
    
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeIconSystemGenerated</key>
            <integer>1</integer>
            <key>CFBundleTypeName</key>
            <string>CloudKitShare</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.apple.cloudkit.share</string>
            </array>
            <key>NSDocumentClass</key>
            <string></string>
        </dict>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>FunterU.MonitoringSystem</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>monitoringsystem</string>
            </array>
        </dict>
    </array>
    
    <key>NSCameraUsageDescription</key>
    <string>RemoVisionは、リモートワーク中の在席時間を記録するため、カメラを使用して顔認識を行います。顔認識はデバイス上でリアルタイムに処理され、映像データは一切保存されません。映像データには、あなたを含め誰もアクセスすることはできません。</string>
    <key>NSRemindersUsageDescription</key>
    <string>RemoVisionはリマインダーに登録された作業項目を読み取り、作業タスクとして表示します。選択された作業項目は在席時間と紐付けて記録され、作業実績の管理に使用されます。リマインダーのデータはデバイス内でのみ処理され、外部に送信されることはありません。</string>
</dict>
</plist>
