<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>RemoVisionは、カメラで顔を認識している間を作業時間として記録します。映像や画像は一切保存されません。録画機能はありません</string>
    <key>NSRemindersUsageDescription</key>
    <string>RemoVisionは、作業タスクを管理・記録するために、リマインダーを使用します。実施したタスク名は所属グループ内で共有されます。</string>
    <key>CFBundleName</key>
    <string>RemoVision</string>
    <key>CFBundleDisplayName</key>
    <string>RemoVision</string>
    
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeIconSystemGenerated</key>
            <integer>1</integer>
            <key>CFBundleTypeName</key>
            <string>CloudKitShare</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.apple.cloudkit.share</string>
            </array>
            <key>NSDocumentClass</key>
            <string></string>
        </dict>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>FunterU.MonitoringSystem</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>monitoringsystem</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
